/*Reinicio de Valores Establecidos por el Navegador*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
}

.content {
	background-color: aqua;
	display: grid;
	width: 100%;
	max-width: 100%;
	margin: 0px auto;
	grid-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
    'header header'
    'banner banner';
}

/* Inicio de Configuración CSS correspondiente al Header*/

.content .header {
	grid-area: header;
	display: flex;
	align-items: center;
	padding: 20px;
	color: white;
	justify-content: space-between;
	font-size: 15px;
	background-color: black;
}

.content .header .navegacion a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.514);
	padding: 0px 16px;
	transition: 0.4s;
}

.content .header .navegacion a:hover {
	color: white;
}

.content .header .navegacion {
	margin-right: 60px;
}

.content .header i {
	font-size: 40px;
	margin-left: 60px;
}

/*Fin de Configuración del Header*/

/*Inicio de la Configuración del Banner*/

.content .banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 540px;
    grid-area: banner;
    background-image: url(img/zarzuela.JPG);
}

/*Fin de la configuración del Banner*/