/*Reinicio de Valores Establecidos por el Navegador*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
}

/*Definicion del Contenedor Grid de la Pagina*/

.content {
	background-color: aqua;
	display: grid;
	width: 100%;
	max-width: 100%;
	margin: 0px auto;
	grid-gap: 0px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas: 
    'header header'
    'banner banner'
    'articulo articulo'
    'main main'
    'sponsors sponsors'
    'footer footer';
}

/* Inicio de Configuración CSS correspondiente al Header*/

.content .header {
	grid-area: header;
	display: flex;
	align-items: center;
	padding: 20px;
	color: white;
	justify-content: space-between;
	font-size: 15px;
	background-color: black;
}

.content .header .navegacion a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.514);
	padding: 0px 16px;
	transition: 0.4s;
}

.content .header .navegacion a:hover {
	color: white;
}

.content .header .navegacion {
	margin-right: 60px;
}

.content .header i {
	font-size: 40px;
	margin-left: 60px;
}

/*Fin de Configuración del Header*/

/*Inicio de la Configuración del Banner*/

.content .banner {
    background-image: url(img/zarzuela.JPG);
    background-size: cover;
    background-position: center;
    height: 40rem;
    grid-area: banner;
}

/*Fin de la configuración del Banner*/

/*Inicio de la Configuración Articulo*/

.content .articulo {
    grid-area: articulo;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
}

.content .articulo h2 {
    margin-bottom: 18px;
}

.content .articulo .separador {
    width: 70px;
    height: 4px;
    background-color: red;
    border-radius: 2px;
    margin-bottom: 50px;
}

.content .articulo .links {
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content .articulo .item,
.content .articulo .special-item {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 30px 5px;
}

.content .articulo .item a {
    padding: 10px;
    background-color: white;
    margin-top: 30px;
    height: 35px;
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:  black;
    transition: 0.4s;
    border-radius: 4px;
}

.content .articulo .item a:hover {
    color: red;
}

.content .articulo .special-item a {
    padding: 10px;
    background-color: white;
    margin-top: 25px;
    height: 35px;
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:  black;
    transition: 0.4s;
    border-radius: 4px;
}

.content .articulo .special-item a:hover {
    color: red;
}

.content .articulo .item i {
    font-size: 100px;
}

.content .articulo .special-item i {
    font-size: 80px;
    margin-bottom: 15px;
}

/*Fin de la configuración de articulo*/

/*Inicio de Configuración del Main*/

.content .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.content .main .p1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto 4rem;
}
.content .main .p1 .texto {
    width: 45%;
}

.content .main .p1 .texto p {
    margin-bottom: 20px;
}

.content .main .p1 .img {
    width: 35%;
}

.content .main .p1 .texto {
    font-size: 18px;
}

.content .main .p1 .texto .separador {
    width: 70px;
    height: 4px;
    background-color: red;
    border-radius: 2px;
    margin-bottom: 30px;
}

.content .main .p1 h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content .main .p2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8rem auto;
} 

.content .main .p2 .img {
    width: 40%;
    margin-left: 9rem;
}

.content .main .p2 .img img {
    width: 85%;
}

.content .main .p2 .form {
    width: 40%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    justify-content: center;
    align-items: center;
}

.content .main .p2 .form input, textarea {
    display: flex;
    flex-direction: column;
}

.content .main .p2 .form input {
    padding: 8px;
    width: 95%;
    background-color: rgb(59, 57, 57);
    border: none;
    margin: 10px 0px;
    color: white;
}

.content .main .form textarea {
    width: 97.5%;
    height: 8rem;
    background-color: rgb(59, 57, 57);
    border: none;
    margin-top: 10px;
    color: white;
} 

.content .main .p2 h2 {
    margin-bottom: 1rem;
}

.content .main .p2 .form .separador {
    width: 70px;
    height: 4px;
    background-color: red;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.content .main .p2 .form .boton {
    margin-top: 1.5rem;
    padding: 15px 30px;
    border-radius: 35px;
    background-color: black;
    color: white;
    border: 2px solid rgb(235, 29, 29);
    transition: 0.5s;
}

.content .main .p2 .form .boton:hover {
    color: red;
}

.content .main .p2 .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.content .main .p2 .redes a {
    text-decoration: none;
    margin: auto 1rem;
    color: white;
    transition: 0.3s;
}

.content .main .p2 .redes a:hover {
    font-size: 25px;
}

.content .main .contacto {
    background-color: rgb(243, 49, 49);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13rem;
    color: white;
    margin-bottom: 3rem;
}

.content .main .contacto h3 {
    font-size: 25px;
}

.content .main .contacto p {
    font-size: 15px;
    margin-bottom: 5px;
}

.content .main .contacto a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-size: 14px;
    transition: 0.4s;
}

.content .main .contacto a:hover {
    color: white;
}

.content .main .contacto .separador {
    margin-top: 1.5rem;
    width: 70px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
}

/*Fin de configuración del Main*/

/*Inicio de configuración del section de sponsors*/

.content .sponsors {
    grid-area: sponsors;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.content .sponsors .sponsor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin-bottom: 4rem;
}

.content .sponsors .sponsor1 h3 {
    font-size: 25px;
}

.content .sponsors .sponsor1 .separador {
    margin-top: 1.5rem;
    width: 70px;
    height: 4px;
    background-color: rgb(255, 0, 0);
    border-radius: 2px;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.content .sponsors .sponsor1 .imagenes {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around
}

.content .sponsors .sponsor1 .img1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .sponsors .sponsor1 .img1 img,
.content .sponsors .sponsor1 .img2 img {
    margin-bottom: 2rem;
}

.content .sponsors .sponsor1 .img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Fin de Configuración de Sponsors*/

/*Inicio de Configuración de Footer*/

.content .footer {
    grid-area: footer;
    background-color: rgb(88, 88, 88);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .footer .footer-content {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.content .footer .footer-content i {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: white;
}

.content .footer .footer-content a {
    margin: auto 0.5rem;
    text-decoration: none;
}

.content .footer .footer-content a i {
    transition: 0.2s;
}

.content .footer .footer-content a i:hover {
    color: white;
    font-size: 18px;
}

.content .footer .footer-content a i {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.596);
}

.content .footer .footer2 {
    border-top: 3px solid rgb(112, 108, 108);
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 88, 88);
    font-size: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    color: rgba(255, 255, 255, 0.637);
}

.content .footer .footer-extra {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content .footer .footer-extra i {
    margin-left: 8px;
    font-size: 40px;
}